<!--Menu-->

<div id="menu" class="menu-fixed">
  <span id="menu-icon"><span class="glyphicon glyphicon-menu-hamburger"></span></span>
  <ul>
    <li  data-src="./images/menu/item_1.png"><a href="index.html">Home</a></li>
    <li  data-src="./images/menu/item_2.png"><a href="about.html">About</a></li>
    <li  data-src="./images/menu/item_3.png"><a href="research.html">Research</a></li>
    <li class="active" data-src="./images/menu/item_4.png"><a href="people.html">People</a></li>
    <li  data-src="./images/menu/item_1.png"><a href="team.html">Team</a></li>
  </ul>
</div>

